/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

/* Custom */
:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-black: #000000;
  --basic-blue: #32425c;
  --basic-darkblue: #293449;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-otherbackground: #f9f5f0;
  --basic-white: #ffffff;
  --special-background: #f2f6f8;
  --special-yellow: #ffc047;
  --special-blue: #3bbce3;
  --special-darkblue: #161d29;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-greylight: #eaeaea;
  --special-grey: #a9a9a9;
  --special-white: #f3f7f9;
  --special-grey-border: #e5e5e5;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --special-red: #b52933;
  --special-hover-red: #ca2c37;
  --error: #ba2732;
  --background-blue: #1d2739;
  --background-white: #f7f3ec;
  --shadow-red: #8E1E26;
  --color-scale: #d7dcde;
  --color-bar: #00ca74;
  --color-toggle: #ababab;
  --color-toggle-shadow: #cfcfcf;
  --color-social-btn: #212a3a;
  --color-popup-background: #f4f4f4;
  --shadow: rgba(0, 0, 0, 0.15);
  --special-popup-background: #f1f1f1;
  --special-btn-shadow: #367315;
  --special-dark-btn-shadow: #518534;
  --special-darkblue-active: #1d2739;
  --checkbox: #b5b5b5;
}

/* Global */
body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* Box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

/* Container */
.container {
  width: 940px;
  margin: 0 auto;
}

/* Buttons */
.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
}

.main-btn {
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: var(--basic-red);
}

.main-btn:hover {
  background-color: var(--special-hover-red);
}

.main-btn:active {
  background-color: var(--error);
}

/* Heading */
.section-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

/* Header */
/* Header-top */
.header-top {
  background-color: var(--basic-darkblue);
}

.header-top .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: var(--basic-white);
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 0 var(--special-red);
}

.header-logo:active {
  background-color: var(--error);
  box-shadow: 0 5px 0 0 var(--shadow-red);
}

.header-search {
  width: 100%;
  margin: 0;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: var(--basic-darkblue);
  border: none;
  color: var(--basic-white);
}

.search-form {
  position: relative;
  flex-grow: 1;
}

.search-form svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.header-search:hover+svg>path {
  fill: var(--basic-white);
}

.header-search:focus+svg>path {
  fill: var(--basic-red);
}

.search-form input[type="search"]::-webkit-input-placeholder {
  color: var(--basic-white);
}

.header-search:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header-top a,
.header-nav-list a {
  color: var(--basic-white);
}

.header-bookmarks {
  min-width: 150px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.header-basket {
  min-width: 136px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 35px;
}

.header-bookmarks+svg {
  position: absolute;
  top: 14px;
  left: 510px;
  opacity: 0.3;
}

.header-basket+svg {
  position: absolute;
  top: 13px;
  left: 666px;
  opacity: 0.3;
}

.header-bookmarks:hover+svg,
.header-basket:hover+svg {
  opacity: 1;
}

.header-order-btn {
  min-width: 150px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 19px;
}

.header-bookmarks:active,
.header-basket:active {
  color: var(--basic-white);
  background-color: var(--special-darkblue);
  opacity: 0.5;
}

.header-basket-inner {
  background-color: var(--basic-red);
}

.header-order-btn {
  background-color: var(--basic-green);
}

.header-order-btn:hover {
  background-color: var(--success);
}

.header-order-btn:active {
  color: var(--basic-white);
  opacity: 0.5;
}

/* Header-middle */
.header-middle {
  background-color: var(--special-white);
}

.header-middle .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 41px;
}

/* Header-left */
.header-left {
  width: 300px;
}

.header-left p {
  margin: 0;
  padding-left: 30px;
  padding-right: 60px;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: var(--basic-red);
}

/* Header-info */
.header-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-right: 30px;
}

.header-info-phone {
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 72px;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.header-info::before {
  content: url("../img/icon-phone.svg");
  position: absolute;
  top: 15px;
  left: 40px;
  width: 19px;
}

.header-info-address {
  margin: 0;
  padding-left: 10px;
  font-size: 14px;
  color: var(--basic-blue);
}

/* Header-login */
.header-right {
  position: relative;
  width: 300px;
}

.header-login {
  padding: 0;
  padding-left: 19px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
}

.header-login-item a {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header-login-item a:hover {
  color: var(--basic-red);
}

.header-login-item a:active {
  color: var(--basic-greylight);
}

.header-login-item svg {
  position: absolute;
  top: 17px;
  left: 38px;
}

.btn-login {
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-bottom: 5px;
}

.btn-login-signin {
  min-width: 121px;
  padding-left: 46px;
  padding-right: 20px;
  margin-right: 10px;
}

.btn-login-register {
  min-width: 150px;
  padding-left: 25px;
  padding-right: 20px;
}

/* Inner login */
.header-login-inner {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
}

.user-profile {
  padding-top: 14px;
  padding-left: 15px;
  background-color: var(--basic-white);
}

.user-profile span {
  padding-left: 18px;
  padding-right: 10px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.btn-sign-out {
  display: inline-block;
  width: 45px;
  height: 45px;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 6px;
  vertical-align: middle;
  background-color: var(--basic-white);
}

.header-login-item:hover path,
.user-profile:hover path,
.btn-sign-out:hover path {
  fill: var(--basic-grey);
}

.header-login-item:active path,
.user-profile:active path,
.btn-sign-out:active path {
  fill: var(--basic-greylight);
}

.header-user {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.header-user li:not(:last-child) {
  position: relative;
  padding-right: 30px;
}

.header-user li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 88px;
  border: solid 2px var(--basic-blue);
  border-radius: 50%;
}

.header-user-order a,
.header-user-authorization a {
  font-size: 16px;
  color: var(--basic-blue);
}

.header-user-order a:hover,
.header-user-authorization a:hover {
  color: var(--basic-red);
}

.userpic:active,
.user-profile span:active,
.btn-sign-out:active,
.header-user-order a:active,
.header-user-authorization a:active {
  color: var(--basic-greylight);
}

/* Header-bottom Header-nav */
.header-bottom {
  padding-bottom: 65px;
  background-color: var(--special-white);
}

.header-nav-list a {
  display: block;
  padding-top: 17px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 14px;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 23px;
  list-style: none;
  background-color: var(--basic-blue);
  box-shadow: 0 5px 0 0 var(--basic-darkblue);
}

.header-nav-item:hover {
  background-color: var(--basic-darkblue);
}

.header-nav-item:active {
  background-color: var(--special-darkblue-active);
}

.header-nav-item a:active {
  opacity: 0.5;
}

/* Promo */
.promo {
  margin-top: 59px;
  margin-bottom: 59px;
}

.promo-btn-catalog {
  width: 192px;
  height: 38px;
}

.promo-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-list-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}

.promo-main-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
}

.promo-list-item-descr {
  margin: 0;
  margin-top: 7px;
  color: var(--basic-white);
}

.promo-list-item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-left: 23px;
  background-color: var(--warning);
  background-image: url(../img/icon-materials.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-list-item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 22px;
  background-color: var(--special-blue);
  background-image: url("../img/icon-tool.svg");
  background-repeat: no-repeat;
  background-position: 194px 34px;
}

.promo-list-item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
  padding-left: 22px;
  background-color: var(--special-lilac);
  background-image: url("../img/icon-equipment.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo-list-item:nth-child(4) {
  grid-column: 1/3;
  grid-row: 2/4;
  width: 620px;
  height: 266px;
  padding-left: 24px;
  padding-bottom: 27px;
  background-color: var(--checkbox);
  background-image: url(../img/promo-perforators.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-list-item:nth-child(5) {
  grid-column: 3/4;
  grid-row: 2/3;
  padding-left: 23px;
  background-color: var(--special-greenlight);
  background-image: url(../img/icon-discount.svg);
  background-repeat: no-repeat;
  background-position: 196px 27px;
}

.promo-list-item:nth-child(6) {
  grid-column: 3/4;
  grid-row: 3/4;
  padding-left: 22px;
  background-color: var(--special-yellow);
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.promo-slider-list {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-slider-current {
  display: block;
}

.promo-slider-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.promo-list-item-btn {
  width: 135px;
  height: 38px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-slider {
  display: none;
}

.promo-list-item-btn:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.promo-list-item-btn:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.slider-control-prev {
  position: absolute;
  top: 120px;
  left: 25px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
}

.slider-control-next {
  position: absolute;
  top: 120px;
  right: 20px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
}

.slider-toggles {
  position: absolute;
  left: 295px;
  bottom: 36px;
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.slider-toggles button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggles .current {
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
  content: url(../img/icon-right-small.svg);
  position: absolute;
  top: 0;
  right: 15px;
}

.breadcrumbs a {
  margin-right: 40px;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

/* Inner H1 */
h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  color: var(--basic-blue);
  background-color: var(--special-background);
}

/* Inner-columns */
.inner-columns {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

/* Filters */
.filters {
  width: 220px;
  font-family: "PT Sans", Arial, sans-serif;
}

.filters p {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--background-white);
}

.range-area {
  margin-bottom: 15px;
  margin-top: -4px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--special-grey-border);
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--background-white);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--color-scale);
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background-color: var(--color-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 2px;
  border: 8px solid var(--basic-white);
  background-color: var(--color-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--color-toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 170px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.min-price input {
  padding-left: 15px;
}

.max-price input {
  margin-left: 10px;
  padding-left: 15px;
}

.price-controls input {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: var(--background-white);
}

.checkbox-area,
.radio-area {
  padding: 0;
  margin: 0;
  list-style: none;
}

.radio-area {
  padding-top: 6px;
}

.checkbox-area-item,
.radio-area-item {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.checkbox-area {
  padding-bottom: 10px;
  margin-bottom: 18px;
  border-bottom: 1px solid var(--special-grey-border);
}

.filters legend {
  margin-bottom: 16px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  border: none;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 15px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 15px;
  line-height: 19px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-greylight);
  border-radius: 3px;
}

.filter-input-checkbox+label:hover::before {
  border-color: var(--checkbox);
}

.filter-input-checkbox:disabled+label::before {
  border-color: var(--checkbox);
  opacity: 0.4;
}

.filter-input-checkbox:disabled+label,
.filter-input-radio:disabled+label {
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover+label::after {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:checked:disabled+label::before {
  opacity: 0.4;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 25px;
  height: 25px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio:hover+label::before {
  border-color: var(--checkbox);
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio:checked:hover+label::after {
  background-image: url("../img/radio-on-hover.svg");
}

.filter-submit-btn {
  width: 220px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--special-grey-border);
  cursor: pointer;
}

/* Sorted */
.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 14px;
  margin-bottom: 28px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--background-white);
}

.sort p {
  min-width: 190px;
  padding: 0;
  margin: 0;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 355px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-list a {
  color: var(--basic-black);
  border-bottom: 1px dotted var(--basic-red);
  opacity: 0.3;
}

.sort-list a:hover {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.sort-list a:active {
  color: var(--basic-red);
  border: none;
}

.sort-item-current a {
  color: var(--basic-red);
  opacity: 1;
  border: none;
}

.sort-btn-list {
  display: flex;
  justify-content: space-between;
  min-width: 60px;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  list-style: none;
}

.sort-btn-up svg {
  transform: rotate(180deg);
}

.sort-btn:hover svg>path {
  fill: var(--basic-black);
}

.sort-btn:active svg>path {
  fill: var(--basic-red);
}

.sorted svg>path {
  fill: var(--basic-red);
}

/* Popular Index*/
.popular-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 14px;
  padding-left: 28px;
  padding-bottom: 26px;
  margin-bottom: 20px;
  background-color: var(--basic-otherbackground);
}

.popular-btn-items {
  width: 192px;
  height: 38px;
  padding-top: 11px;
  padding-bottom: 10px;
}

.popular-title,
.brands-title {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  color: var(--basic-blue);
}

.popular-name {
  margin: 0;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.popular-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

/* Catalog Inner*/
.catalog-list {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
  text-align: center;
}

.item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 170px;
}

.catalog-list-item,
.popular-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--special-greylight);
}

.catalog-list-item:hover,
.popular-list-item:hover {
  box-shadow: 0 10px 25px 0 var(--shadow);
}

.catalog-list-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 20px;
}

.catalog-list-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
}

.catalog-list a,
.popular-list a {
  color: var(--basic-black);
}

.catalog-old-price {
  margin-top: 7px;
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--special-grey);
  text-decoration: line-through;
}

.catalog-new-price {
  position: relative;
  align-self: flex-start;
  padding-right: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-left: 44px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.catalog-new-price::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  right: -19px;
  border: 19px solid transparent;
  border-left-color: var(--basic-red);
  border-right: 0;
}

.promo .new-item::after,
.popular .new-item::after,
.catalog .new-item::after {
  content: url("../img/new-item.png");
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}

.catalog-item-hover {
  display: none;
}

.popular-list-item:hover .item-img,
.catalog-list-item:hover .item-img {
  display: none;
}

.popular-list-item:hover .catalog-item-hover,
.catalog-list-item:hover .catalog-item-hover {
  display: block;
  width: 220px;
  height: 170px;
  padding: 38px 41px;
}

.popular-list .catalog-item-btn-buy,
.catalog-list .catalog-item-btn-buy {
  position: relative;
  width: 135px;
  height: 38px;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--special-btn-shadow);
  border-radius: 2px;
}

.popular-list .catalog-item-btn-buy::before,
.catalog-list .catalog-item-btn-buy::before {
  content: url("../img/icon-cart.svg");
  position: absolute;
  top: 10px;
  left: 30px;
  opacity: 0.3;
}

.popular-list .catalog-item-btn-buy:hover,
.catalog-list .catalog-item-btn-buy:hover {
  background-color: var(--success);
}

.popular-list .catalog-item-btn-buy:active,
.catalog-list .catalog-item-btn-buy:active {
  background-color: var(--special-dark-btn-shadow);
}

.popular-list .btn-add-bookmark,
.catalog-list .btn-add-bookmark {
  width: 135px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  cursor: pointer;
}

.popular-list .btn-add-bookmark:hover,
.catalog-list .btn-add-bookmark:hover {
  border-color: var(--basic-blue);
}

.popular-list .btn-add-bookmark:active,
.catalog-list .btn-add-bookmark:active {
  opacity: 0.3;
}

/* Brands */
.brands-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 19px;
  padding-left: 28px;
  padding-bottom: 25px;
  background-color: var(--basic-otherbackground);
}

.brands-btn {
  width: 192px;
  height: 38px;
}

.brands-title {
  padding: 0;
  padding-top: 5px;
  margin: 0;
}

.brands-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 70px;
  list-style: none;
  text-align: center;
}

.brands-item img {
  display: block;
}

.brands-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  background-color: var(--basic-white);
  border: 1px solid var(--special-greylight);
}

.brands-item:hover {
  box-shadow: 0 0 5px 3px var(--special-grey-border);
}

.brands-item:active {
  opacity: 0.5;
  box-shadow: 0 0 5px 3px var(--special-grey-border);
}

/* Services */
.services {
  padding-top: 64px;
  padding-bottom: 99px;
  background-color: var(--basic-background);
}

.services-title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.services-descr {
  width: 400px;
  margin: 0;
  margin-bottom: 70px;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services-list {
  position: relative;
  min-width: 240px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-list::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
}

.services-content {
  display: flex;
}

.services-item {
  padding-top: 14px;
  padding-bottom: 19px;
  padding-left: 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.services-item:hover {
  background-color: var(--basic-darkblue);
}

.services-item:active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services-list .current {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  outline: none;
}

.services-submenu {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: 80px;
  list-style: none;
}

.services-submenu-item {
  position: relative;
}

.services-submenu-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.services-submenu-descr {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-unit-descr {
  width: 275px;
}

.guarantee-unit-descr {
  width: 315px;
}

.credit-unit-descr {
  width: 300px;
  margin-bottom: 34px;
}

.delivery-unit::after {
  content: url(../img/service-delivery.png);
  position: absolute;
  top: 20px;
  right: 0;
}

.guarantee-unit::after {
  content: url(../img/service-guarantee.png);
  position: absolute;
  top: 0;
  right: 0;
}

.credit-unit::after {
  content: url(../img/service-credit.png);
  position: absolute;
  top: 0;
  right: 0;
}

.services-submenu-on {
  display: block;
}

.services-submenu-off {
  display: none;
}

.credit-btn {
  width: 195px;
  height: 38px;
  border-radius: 4px;
}

/* Pagination */
.pagination {
  margin-top: 48px;
  margin-bottom: 59px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a,
.next-page-btn {
  display: block;
  min-width: 38px;
  padding: 9px 14px;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  border: 1px solid var(--special-grey-border);
  border-radius: 3px;
}

.next-page-btn {
  padding-left: 30px;
  padding-right: 33px;
}

.pagination-item a:hover,
.next-page-btn:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-item a:active,
.next-page-btn:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current a {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
  border: 1px solid var(--basic-red);
}

/* About-perforators */
.about-perforators {
  padding-top: 64px;
  padding-bottom: 70px;
  background-color: var(--basic-background);
}

.about-perforators h2 {
  margin: 0;
  margin-bottom: 25px;
}

.about-perforators-descr {
  margin: 0;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
}

/* Index-columns */
.index-columns .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 24px;
}

.index-columns p {
  margin: 0;
}

/* About company */
.about-company {
  width: 460px;
}

.about-company-text {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
}

.about-company p:nth-of-type(1) {
  margin-bottom: 27px;
}

.about-company-list {
  padding: 0;
  padding-left: 37px;
  margin: 0;
  margin-bottom: 7px;
  list-style: none;
}

.about-company-item {
  position: relative;
  padding-bottom: 12px;
}

.about-company-list li::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -37px;
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.btn-more {
  display: inline-block;
  vertical-align: middle;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--basic-red);
}

/* Contacts */
.contacts {
  width: 300px;
}

.contacts-title {
  margin: 0;
}

.contacts-text {
  padding-right: 110px;
  padding-bottom: 32px;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts img {
  display: block;
  margin-bottom: 24px;
}

.btn-feedback {
  display: block;
  width: 100%;
}

/* Footer-top */
.footer-top {
  padding-bottom: 54px;
  background-color: var(--basic-blue);
}

.footer-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top-left {
  width: 340px;
}

.footer-top-right {
  width: 560px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  padding-bottom: 5px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 0 var(--special-red);
}

.footer-logo:active {
  background-color: var(--error);
  box-shadow: inset 0 -5px 0 0 var(--shadow-red);
}

.footer-info,
.footer-contacts a {
  padding-left: 4px;
  color: var(--special-white);
}

.footer-info {
  margin: 0;
  margin-top: 23px;
  padding-left: 4px;
}

/* Footer-top Footer-nav */
.footer-nav-list-top,
.footer-nav-list-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  list-style: none;
}

.footer-nav-list-bottom {
  margin-top: 34px;
}

.footer-nav-item:not(:first-child) {
  padding-left: 59px;
}

.footer-nav-item a {
  display: inline-block;
  vertical-align: middle;
  color: var(--special-white);
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-nav-list-bottom a {
  color: var(--special-yellowlight);
}

/* Footer-social */
.footer-social {
  padding-top: 35px;
  padding-bottom: 29px;
  background-color: var(--basic-darkblue);
}

.footer-social .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social p {
  margin: 0;
}

.footer-copyright {
  width: 300px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-white);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 0;
  padding-right: 26px;
  margin: 0;
  list-style: none;
}

.footer-social-item a {
  margin-right: 5px;
  color: var(--basic-white);
}

.footer-social-item a:hover {
  background-color: var(--basic-red);
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: var(--color-social-btn);
  border-radius: 50%;
}

.btn-vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 7px 13px;
}

.btn-fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.btn-inst {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer-bottom */
.footer-bottom-info {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.footer-feedback,
.footer-authors {
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-feedback {}

.footer-authors {
  padding-left: 30px;
}

.footer-feedback a,
.footer-authors a {
  color: var(--special-yellowlight);
}

.footer-feedback a:hover,
.footer-authors a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-authors a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* PopUp */
.popup-write-us,
.popup-map,
.popup-cart {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  margin: auto;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 20px 40px 0 var(--shadow);
}

/* Popup Write Us */
.popup-write-us {
  width: 620px;
  height: 430px;
  background-color: var(--basic-white);
}

.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.write-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 81px;
  padding-bottom: 37px;
}

.write-form p {
  margin: 0;
}

.popup-input input {
  width: 220px;
  margin: 0;
  margin-top: 11px;
  margin-bottom: 13px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 8px;
  padding-bottom: 7px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.write-form input::-webkit-input-placeholder,
.write-form textarea::-webkit-input-placeholder {
  font-size: 13px;
  font-family: "PR Sans", Arial, sans-serif;
  color: var(--special-grey);
}

.popup textarea {
  width: 460px;
  height: 114px;
  margin-top: 11px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.popup-bottom {
  width: 620px;
  height: 112px;
  background-color: var(--color-popup-background);
  border-top: 1px solid transparent;
}

.popup-order-btn {
  position: absolute;
  bottom: 40px;
  left: 80px;
  display: block;
  width: 460px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-red);
  border: none;
}

/* Popup Map */
.popup-map {
  width: 943px;
  height: 449px;
}

iframe {
  background-image: url("../img/popup-map.png");
  background-size: cover;
}

/* Popup Cart */
.popup-cart {
  width: 620px;
  height: 282px;
  background-color: var(--basic-white);
}

.popup-cart-info {
  height: 170px;
  padding-top: 70px;
  text-align: center;
  background-image: url(../img/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 80px 50px;
}

.popup-cart-info p {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.popup-btn-area {
  display: flex;
  justify-content: center;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: var(--special-popup-background);
}

.popup-confirm-btn,
.popup-continue-btn {
  width: 192px;
}

.popup-continue-btn {
  margin-left: 10px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.popup-map iframe {
  border: none;
}

.popup-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.popup-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

/* Animations */
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
